body#homepage {
  background-image: url("sources/pizzabg.jpg");
  background-size: cover;
}

body {
  background-image: url("sources/redwhite.jpg");
  font-family:'Rambla';
}

@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  src: local('Graduate'), local('Graduate-Regular'), url(https://fonts.gstatic.com/s/graduate/v6/C8cg4cs3o2n15t_2YygW43w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(https://fonts.gstatic.com/s/rambla/v6/snfrs0ip98hx6mrEJLgP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.shopping-cart {
  -webkit-flter:invert(1);
  filter: invert(1);
  width: 40px;
  height: auto;
  margin-left:20px;
}

.homepage-text {
  line-height: 1.8;
  word-spacing: 6px;
  font-size: 21px;
}

.bottom-left-btn {
  right: 0;
  bottom: 0;
  position: fixed;
}

.navbar {
  background-color: #d50028;
  border: 0;
  border-radius: 0;
  letter-spacing: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Graduate';
}

.navbar-collapse {
  border-color: 0 white solid;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-size: 50px;
}

.img-circle {
  display: none;
}

@media screen and (max-width: 576px) {
  .img-circle {
    display: table;
    padding: 20px;
    width: 50%;
    height:auto;
    margin: 0 auto;
  }

  .navbar-inverse .navbar-brand {
      display: none;
  }
}

.button-squared {
  background-color: rgba(0, 0, 0, 0);
  color: White;
  border: 2px solid White;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.button-squared:hover {
  background-color: White;
  border: 2px solid White;
  color: #d50028;
}

.button-noBorder {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: White;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.button-noBorder:hover {
  background-color: White;
  color: #d50028;
}

.main-title {
  color: white;
  font-size: 72px;
  text-decoration: none;
}

.main-title:hover {
  color: white;
  text-decoration: none;
}

.form-label {
  color: white;
}

@keyframes form-animation {
  0% {background-color:white;}
  25% {background-color:rgb(183,0,30);}
  50% {background-color:rgb(193,0,34);}
  75% {background-color:rgb(203,0,37);}
  100% {background-color:rgb(213,0,40);}
}

.animated-form {
  background-color: #D50028;
  animation-name: form-animation;
  animation-duration: 4s;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: white;
  border: 4px solid white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s;
  margin:5px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 255);
  color: Red;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.square {
  width:100%;
  padding: 10px;
  background-size:cover;
  background-position:center;
  border-radius:15px;
  margin-bottom:15px;

  background: linear-gradient(
    white, white 50%, #A0111B 50%, #A0111B
    );
  transition: all 0.2s ease;
  background-size: 100% 200%;
}

.square:hover {
  background-position: 100% 100%;
}

.square:hover img {
  -webkit-filter:invert(1);
  filter:invert(1);
}

.img-invert {
  width:80%;
  height:auto;
  margin:auto;
}

.caption {
  text-align:center;
  color:white;
  background-color:#A0111B;
  width:100%;
  margin-top:-10px;
  border-radius:15px;
}

.media {
  background:white;
  border-radius:15px;
  height:200px;
  margin-bottom:15px;
  box-shadow:5px 10px #A0111B;
}

.media:hover {
  box-shadow:4px 8px #A0111B;
  transform:translateY(3px);
  transform:translateX(1px);
}

.media:active {
  box-shadow: 2px 2px #A0111B;
  transform: translateY(5px);
  transform: translateX(1px);
}

.media-object {
  width:200px;
  height:auto;
  border-radius:15px;
}

.media-heading {
  text-align:center;
  margin-top:15px;
}

.ristoranti-header {
  background-color:#A0111B;
  border-radius:15px;
  margin-bottom:20px;
}

.ristoranti-title {
  color:white;
  text-align:center;
}

td, th {
  border: 1px solid #DDDDDD;
  text-align:left;
  padding: 8px;
}

tr.user-row:nth-child(odd) {
  background-color: #A0111B;
  color:white;
}

tr.user-row:nth-child(even) {
  background-color:white;
}

.plus-button {
  background-color:white;
  border:none;
}

.plus-button-img {
  width:30px;
  height:auto;
}

.img-odd {
  -webkit-filter:invert(1);
  filter:invert(1);
}

.plus-button-odd {
  background-color:#A0111B;
}

.dish-name{
  color: green;
}

.jumbotron {
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .price{
    margin-top: 15px;
  }
}

.delate-button {
	-moz-box-shadow: 3px 4px 0px 0px #a0111b;
	-webkit-box-shadow: 3px 4px 0px 0px #a0111b;
	box-shadow: 3px 4px 0px 0px #a0111b;
	background-color:#D50028;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.delate-button:hover {
	background-color:#D50028;
  color: white;
}
.delate-button:active {
	position:relative;
	top:1px;
}
.myButtonOrder {
	margin-left: 10px;
	background-color:#ffffff;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#D50028;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:15px 0px 50px #5b8a3c;
}
.myButtonOrder:hover {
	background-color:#ffffff;
  color:#D50028;
}
.myButtonOrder:active {
	position:relative;
	top:1px;
}

.jumbrotron-specific{
    background-color: #D50028;
}

.user-information{
  padding-top: 15px;
  color: white;
}

.dish-name{
  color: #D50028;
}

.resp-table {
  border-collapse:collapse;
  width:100%;
  table-layout:fixed;
}

@media screen and (max-width:1200px) and (min-width:992px) {
  .resp-table-wrapped {
    font-size: 11px;
  }
}

@media screen and (max-width:450px) {
  .resp-table {
    font-size: 11px;
  }
}

.clear {
  clear:both;
  height:150px;
}

@media screen and (max-width:992px) {
  .clear {
    height:300px;
  }
  .td-word-break {
    word-break:break-all;
  }
  .media-object {
    width:150px;
    height:auto;
  }
  .media {
    height:150px;
  }
}

.footer {
  position:fixed;
  bottom:-29px;
  padding:0;
  width:100%;
}

.media-body-text {
  margin-top:30px;
}

.dropbtn {
 color: white;
 border: none;
}

.dropdown {
 position: relative;
 display: inline-block;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: white;
 min-width: 160px;
 border-radius: 5px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: #d50028;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {background-color: #ddd; border-radius: 5px;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white; color: #d50028;}

@media screen and (max-width: 576px) {
  .footer {
    position: absolute;
    bottom: auto;
  }

  .clear {
    height: 0px;
  }

  .slideshow-container {
    display: none;
  }

  .admin-info-container {
    height: auto;
  }

}

#txtArea {
  resize: none;
  width: 100%;
}

.admin-info {
  text-align: right;
  margin: 20px;
  color: #D50028;
}

.admin-info-container {
  box-shadow:5px 10px #A0111B;
  background-color: white;
}
